.comment-modal(
  data-title="#{t('.title')}"
  data-show-resolved="#{t('.show_resolved')}"
  data-buttons="#{t('.buttons')}"
  data-csrf="#{form_authenticity_token}"
  data-comment-text="#{t('.comment')}"
  data-form-buttons="#{t('.form_buttons')}"
  data-content-id="#{@content.id}"
  data-current-user-id="#{current_user.id}"
  data-url="#{protocol_content_comments_path(@protocol, @content)}"
)
