= form_for @protocol, html: { class: 'form-horizontal', role: 'form' } do |f|
  - if @protocol.errors.any?
    = model_errors(@protocol)
  = f.hidden_field :lock_version

  div#step-1
    = render 'protocols/step/one', f: f, protocol: @protocol

  div#step-2
    = render 'protocols/step/two', f: f, protocol: @protocol

  div#step-3
    = render 'protocols/step/three', f: f, protocol: @protocol

javascript:
  $(function() {
    $('#step-2, #step-3').hide();
    $('#protocol_title_error, #protocol_template_name_error').hide();
    $('#sponsor-other-form').hide();
    if (!$('#protocol_study_agent_1').prop('checked') && !$('#protocol_study_agent_2').prop('checked')) {
      $('#has-ind-form').hide();
    }
    if (!$('#protocol_study_agent_3').prop('checked')) {
      $('#has-ide-form').hide();
    }

    $('.step-button').click((e) => {
      let has_error = checkError(e);
      if (!has_error) {
        $('#step-1, #step-2, #step-3').hide();
        $('#step-' + $(e.target).data('move')).show();
        $('html, body').animate({ scrollTop: 60 });
      }
    });

    $('#protocol_sponsors').change(() => {
      if ($('#protocol_sponsors').children(':selected').last().text() === "#{I18n.t('protocols.step.one.sponsors').last()}") {
        $('#sponsor-other-form').show();
      } else {
        $('#sponsor-other-form').hide();
      }
    });

    $('.checkbox-form').change(() => {
      if ($('#protocol_study_agent_1').prop('checked') || $('#protocol_study_agent_2').prop('checked')) {
        $('#has-ind-form').show();
      } else {
        $('#has-ind-form').hide();
      }
      if ($('#protocol_study_agent_3').prop('checked')) {
        $('#has-ide-form').show();
      } else {
        $('#has-ide-form').hide();
      }
    });

    $('#step_one_submit_button').click((e) => {
      checkError(e);
    });

    function checkError(e) {
      let has_error = false;
      let error_fields = $('.error-field');
      if (error_fields.length > 0) {
        let title = $('#protocol_title').val();
        let template_name = $('#protocol_template_name').val();
        for (let i = 0; i < error_fields.length; i++) {
          $(error_fields[i]).replaceWith($(error_fields[i]).html());
        }
        $('#protocol_title').val(title);
        $('#protocol_template_name').val(template_name);
        $('#protocol_template_name_error, #protocol_title_error').hide();
      }
      if ($('#protocol_title').val().length === 0) {
        showError(e, 'protocol_title');
        has_error = true;
      }
      if ('#{@protocol.new_record? && action_name != "clone"}' == 'true' && $('#protocol_template_name').val().length === 0) {
        showError(e, 'protocol_template_name');
        has_error = true;
      }
      return has_error;
    }

    function showError(e, target) {
      e.preventDefault();
      let div = '<div class="field_with_errors error-field"></div>';
      $('label[for=' + target + ']').wrap(div);
      $('#' + target).wrap(div);
      $('#' + target + '_error').show();
      $('html, body').animate({ scrollTop: $('label[for=' + target + ']').offset().top });
    }

    $(document).on("click", ".add-destroy", function() {
      $(this).prev().val(true);
      $(this).parent().parent().hide();
    });

    $('#build-team-button').click(() => {
      let template_name = $('#protocol_template_name').val() || '#{@protocol.template_name}';
      $.ajax({
        dataType: 'script',
        data: {
          protocol_id: '#{@protocol&.id}',
          template_name: template_name
        },
        url: '#{build_team_form_protocols_path}'
      });
    });
  });
