.col-md-12.protocol-index(data-form={ placeholder: t('.filter_placeholder'),
                                      text: t('.filter'),
                                      url: protocols_path,
                                      headers: t('.headers'),
                                      buttons: t('.buttons') }.to_json )
