.col-md-12
  .row
    .col-md-9
      h3 = "#{t('.protocol')}: #{@protocol.title}"
    .col-md-3.text-right
      ul.nav.nav-tabs
        li.active
          a href="#editor" data-toggle="tab" = t('.editor')
        li
          - if can? :admin, @protocol
            a#admin-link href="#admin" data-toggle="tab" = t('.admin')
          - else
            a.disabled = t('.admin')

  .row
    .col-md-12
      .tab-content
        .tab-pane.active#editor
          .row.mt-l
            .col-md-4
              = render 'menu', protocol: @protocol, contents: @contents, examples: @examples, instructions: @instructions
            .col-md-8
              = render 'editor', protocol: @protocol, contents: @contents
        .tab-pane#admin
          .row
            .col-md-12
              h3 = t('.edit_title')
              = render 'form'

.modal.fade#no-reviewer-modal tab-index="1" role="dialog" aria-hidden="true"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" x
        h4.modal-title = t('.modal_title')

      .modal-body
        p = t('.modal_text')
        .pull-right
          = button_tag t('.add'), type: :button, class: 'btn btn-default', id: 'no-reviewer-modal-add'
        .pull-right
          = button_tag t('.cancel'), type: :button, class: 'btn btn-default', id: 'no-reviewer-modal-close'

javascript:
  $(function() {
    $('.instruction-contents, .example-contents').hide();
    $('#show-example').addClass('disabled');
    $('#section-title-instructions').show();

    $('.section-link').click((e) => {
      let target = $(e.target).data('section-no');
      let replaced_target = target.toString().replace('.', '-');

      $('.instruction-contents, .example-contents').hide();

      let example_id = '#section-' + replaced_target + '-example';
      if ($(example_id).length === 0) {
        $('#show-example').addClass('disabled');
      } else {
        $(example_id).show();
        $('#show-example').removeClass('disabled');
      }

      let instruction_id = '#section-' + replaced_target + '-instructions';
      if ($(instruction_id).length === 0) {
        $('#show-instructions').addClass('disabled');
      } else {
        $(instruction_id).show();
        $('#show-instructions').removeClass('disabled');
      }

      if (target != 'title' && target != 'compliance') {
        $.ajax({
          dataType: 'script',
          data: { section_no: target },
          url: '#{protocol_content_path(@protocol)}'
        });
      }
    });

    $(document).on('click', '#to-under-review', (e) => {
      if ('#{!@protocol.has_reviewer? && (can? :admin, @protocol)}' == 'true') {
        e.preventDefault();
        e.stopImmediatePropagation();
        $('#no-reviewer-modal').modal('show');
      }
    });

    $('#no-reviewer-modal-close').click(() => {
      $('#no-reviewer-modal').modal('hide');
    });
    $('#no-reviewer-modal-add').click(() => {
      $('#no-reviewer-modal').modal('hide');
      $('#admin-link').tab('show');
      $('#step-1, #step-2').hide();
      $('#step-3').show();
    });

    $('#previous-section-button').click(() => {
      move_section('#{previous_protocol_content_path(@protocol)}');
    });
    $('#next-section-button').click(() => {
      move_section('#{next_protocol_content_path(@protocol)}');
    });
    function move_section(url) {
      $.ajax({
        dataType: 'script',
        data: { section_no: $("ul#section-ul li.active").first().children().first().data('section-no') },
        url: url
      });
    }

    $('.example-copy-button').click((e) => {
      if (window.confirm("#{t('.copy_confirm')}")) {
        let data = $(e.target).parent().prev().html();
        tinymce.get('form-tinymce').setContent(data);
      }
    })
  });
