/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

// protocol index
.clickable-tr {
  cursor: pointer;
}

.clickable-tr:hover {
  background-color: #eee;
}

// protocol form
.field_with_errors {
  @extend .has-error;
}

// protocol show
.nav-border {
  border: 1px solid #337ab7;
}

.compliance-box {
  border: 1px solid #ccc;
  padding: 0px 10px 10px 10px;
}

i.mce-i-icon-book:before {
  content: '\f02d';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

li.disabled {
  pointer-events: none;
  opacity: 0.6;
}

a.disabled {
  cursor: not-allowed;
  color: #cccccc;
}

.nav-pills li a.uneditable {
  color: #cccccc;
}

// comment
.comment {
  border: 1px solid #ddd;
}

.resolve-comment {
  background-color: #bbddff;
}

// history
.modal-body td {
  vertical-align: top;
}

del {
  background-color: #ff9e9e;
}

ins {
  background-color: #9eff9e
}

// bootstrap override
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.modal-body, .menu-body {
  max-height: 500px;
  overflow-y: auto;
}

// size
$params: ( z: 0, xs: 5, s: 10, m: 15, l: 20, xl: 25, xxl: 30 );

@each $key, $val in $params {
  .m-#{$key} { margin: #{$val}px; }
  .mt-#{$key} { margin-top: #{$val}px; }
  .mr-#{$key} { margin-right: #{$val}px; }
  .mb-#{$key} { margin-bottom: #{$val}px; }
  .ml-#{$key} { margin-left: #{$val}px; }
}

@each $key, $val in $params {
  .p-#{$key} { padding: #{$val}px; }
  .pt-#{$key} { padding-top: #{$val}px; }
  .pr-#{$key} { padding-right: #{$val}px; }
  .pb-#{$key} { padding-bottom: #{$val}px; }
  .pl-#{$key} { padding-left: #{$val}px; }
}
