/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// bootstrap override
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

// size
$params: ( z: 0, xs: 5, s: 10, m: 15, l: 20, xl: 25, xxl: 30 );

@each $key, $val in $params {
  .m-#{$key} { margin: #{$val}px; }
  .mt-#{$key} { margin-top: #{$val}px; }
  .mr-#{$key} { margin-right: #{$val}px; }
  .mb-#{$key} { margin-bottom: #{$val}px; }
  .ml-#{$key} { margin-left: #{$val}px; }
}
