p {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-center {
  text-align: center;
}

table {
  border-collapse: collapse;
}

#subtitle {
  font-size: 16px;
  font-weight: bold;
}

.section-title {
  background-color: #4F81BD;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.section-sub-title {
  background-color: #DBE5F1;
  padding: 10px;
}

.contents-table {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 30px;
  p {
    text-align: left;
    margin: 15px;
  }
}

.section-content {
  padding: 0px 10px;
  h3 {
    font-size: 15px;
    border-top: solid #4f818d 1px;
    border-left: solid #4f818d 1px;
  }
}

.mt-xl {
  margin-top: 25px;
}
