.export-content {
  p {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .text-center {
    text-align: center;
  }

  table {
    border: solid 1px #000000;
    border-collapse: collapse;
    td {
      border: solid 1px #000000;
    }
  }

  #subtitle {
    font-size: 16px;
    font-weight: bold;
  }

  .section-title {
    background-color: #4F81BD;
    color: white;
    font-weight: bold;
    padding: 10px;
  }

  .section-sub-title {
    background-color: #DBE5F1;
    padding: 10px;
  }

  .contents-table {
    width: 100%;
    td {
      padding: 10px 30px;
      p {
        margin: 15px;
      }
    }
  }

  .section-content {
    padding: 0px 10px;
    h3 {
      font-size: 15px;
      border-top: solid #4f818d 1px;
      border-left: solid #4f818d 1px;
      padding: 3px;
    }
    h4 {
      font-size: 13px;
      border-top: dashed #4f818d 1px;
      border-left: dashed #4f818d 1px;
      padding: 3px;
    }
  }

  .mt-xl {
    margin-top: 25px;
  }

  .japanese, .english {
    margin: 15px 0px;
  }
}
